#
##### SToPA requirements.txt
#


deskew
folium
fuzzywuzzy
geopy
gitpython
jupyterlab
matplotlib
notebook
opencv-python
pandas
pyarrow
PyPDF2>=3.0.1
python-Levenshtein
scipy>=1.10.0
tabula-py
tabulate
usaddress 
